@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: "IBM Plex Sans", sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #0c0c0c;
    height: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 180px;
    max-width: 100%;
    margin-bottom: 4px;
    background: transparent;
    position: relative;
    z-index: 2;
    text-align: center;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: -2px;
}

input[type=range]:hover::-webkit-slider-thumb {
    transform: scale(1.25);
}

input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.5);
}

input[type=range]::-webkit-slider-thumb:active {
    transform: scale(1.5);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background-color: #222;
    border-radius: 4px;
}

input[type=range]:active::-webkit-slider-runnable-track {
    background-color: #282828;
}

.option {
    color: #fff;
    padding: 8px;
}

.option-inline {
    display: inline-block;
}

.options-container {
    position: absolute;
	min-height: 100%;
	height: 100%;
    width: 100%;
}

.options {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 16px);
    padding: 8px;
    padding-bottom: 32px;
    text-align: center;
	top: 0;
	position: absolute;
	min-height: calc(100% - 48px);
	text-align: center;
}

footer {
    text-align: center;
	color: #fff;
    position: absolute;
    left: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
}

footer p {
    color: #fff;
    font-size: 12px;
}

a-1 {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.button {
	display: inline-block;
	vertical-align: middle;
	padding: 6px;
	margin: 8px;
	color: #fff;
	background-color: #222;
    border: 1px solid #222;
    border-radius: 4px;
    transition: 0.15s;
}

.button:hover {
	border: 1px solid #323232;
    background-color: #232323;
	cursor: pointer;
	box-shadow: 0px 0px 4px #000;
}

.checkbox {
    display: flex;
    max-width: 100%;
    opacity: 0.8;
    padding: 8px;
}

.checkbox-disabled {
    opacity: 0.4;
}

.checkbox:hover {
    opacity: 1;
    cursor: pointer;
}

.checkbox-disabled:hover {
    opacity: 0.4;
    cursor: default;
}

.checkbox-box {
    flex: 1;
    min-width: 12px;
    max-width: 12px;
    margin-right: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    background-image: url("check.svg");
    border: 1px solid #666;
    border-radius: 2px;
    background-color: #222;
    pointer-events: none;
}

.checkbox p {
    flex: 1;
    text-align: left;
    white-space: nowrap;
    transition: 0.15s;
    pointer-events: none;
}

.checkbox:hover .checkbox-box {
    border: 1px solid #aaa;
}

.checkbox-disabled:hover .checkbox-box {
    border: 1px solid #666;
}

.checkbox-active .checkbox-box {
    background-size: contain;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.15s;
}

a[class=underline] {
	opacity: 0.75;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	opacity: 0.75;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

.underline {
	position: relative;
}

.underline:hover {
	cursor: pointer;
	transition: 0.1s;
}

.underline:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -1px;
	width: 0;
	height: 1px;
	background-color: #fff;
	transition: 0.15s;
	z-index: -1;
	border-radius: 4px;
}

.underline:hover:after {
	width: 100%;
	left: 0;
}