.group-spacing-16 .groupStart-23k01U {
    margin-top: 0.8rem !important;
}

.container-3npvBV {
    top: -6px !important;
    height: 1.2rem !important;
}

.group-spacing-16 .groupStart-23k01U {
    margin-top: 2px !important;
}